<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TOPS2.0ConnectionString"
		connectionString="
			Server=Rasputin\SQLEXPRESS;
			Database=TOPS2.0DB;
			Trusted_Connection=True;"
		providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>